* {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--light);
}

:root {
  --primary: #7b57fc;
  --secondary: #b4e500;
  --tetriary: #ff7d00;
  --dark: #3a3d4b;
  --light: white;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url("pictures/hope-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home {
  min-width: 300px;
  max-width: 1850px;
  background-color: var(--primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.upperBar {
  height: 20%;
  min-width: 250px;
  max-width: 1000px;
}

.main {
  height: 70%;
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
}

.footer {
  height: 10%;
  min-width: 300px;
  max-width: 1000px;
  padding: 20px;
}

.codeHope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codeHope p {
  margin: 0;
  font-family: "Caveat";
  font-weight: 300;
  font-size: 20px;
}

h1 {
  font-family: "Caveat";
  font-weight: 900;
  font-size: 40px;
}

.middle {
  height: 70%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 30px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary);
  cursor: pointer;
}

.button-mimas {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background: var(--tetriary);
}

.button-mimas::before,
.button-mimas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.button-mimas span {
  position: relative;
}

.button-mimas::before {
  background: var(--secondary);
  width: 130%;
  left: -15%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button-mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 600;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hub21-logo {
  min-width: 100px;
  max-width: 150px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
}

.bilkom-logo {
  max-width: 110px;
  height: 55px;
  border-radius: 5px;
  margin-left: 15px;
}

.footer-info p {
  margin: 0;
  font-weight: 600;
}

.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  cursor: pointer;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media (min-width: 481px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .middle {
    flex-direction: column;
  }
  body {
    display: flex;
    align-items: start;
    justify-content: center;
  }
}